div.subcontent
	p.title 接着，你需要有一个Steam和完美世界的账号
	p 由于完美代理了DOTA2的国服，想要畅玩DOTA2，需要将Steam的账号与完美世界的账号绑定
	p 在此#[a(href="https://store.steampowered.com/join/?redir=about%2F") Steam注册页面]中注册Steam账号
	P 在此#[a(href="http://passport.wanmei.com/reg/?s=dota2") 完美世界注册页面]中注册完美世界账号
	p 注册完毕后进入下一步