div.subcontent
	p.title 你从未玩过Dota2吗?
	p 第一次接触Dota2吧，这是由Valve（俗称阀门社）开发，由Dota系列传奇人物IceFrog打造的基于独立引擎的正统续作。
	p 游戏本身是发布在Steam平台上的，仅需要Steam帐号便可畅玩，但基于中国的#[b 特殊国情]，想要游玩国服，你还需要注册完美通行证。
	p 因为在国内，Dota2被完美所代理。而根据政策，由完美所代理的Dota2是#[b 和谐版]，于steam上载入的Dota2为#[b 非和谐版]。
	p 如果你希望安装#[b 和谐版]Dota2，请直接移步#[a(href="http://www.dota2.com.cn/download/") 完美官方教程]。
	p 如果你希望安装#[b 非和谐版]Dota2，请单击#[b 右侧]导航栏，跟随我们的教程。
	p 看看和谐版与非和谐版的区别：
	table
		tr
			td
				| 非和谐版
			td
				| 和谐版
		tr
			td
				img(src="/picture/stealer_steam.jpg")
			td
				img(src="/picture/stealer_low_violent.jpg")
	p 本教程当前更新时间为：#{updateTime}