div.subcontent
	p.title 首先，你需要一个Steam
	p 登录Steam的官方网站：#[a(href="http://store.steampowered.com/") http://store.steampowered.com/]
	p 点击右上角的“安装Steam” #[img(src="/picture/0.png")]
	p 跟随Steam安装程序的指引安装即可
	p #[img(src="/picture/0-1.png")]