doctype html
html(lang="en")
	head
		title #{title}
		link(rel="stylesheet" href="/css/assistant/assistant.css")
		script(src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js")
		script(src="/js/assistant/pluralize.js")
		script(src="/UEditor/ueditor.config.js")
		script(src="/UEditor/ueditor.all.js")
		script(src="/js/assistant/dict_abilities.js")
		script(src="/js/assistant/dict_items.js")
		script(src="/js/assistant/dict_heros.js")
		script(src="/js/assistant/dict_systems.js")
		script(src="/js/assistant/assistant.js")
	body
		div
			div
				table.main
					tr
						td#pred_td
							table#pred_table
								tr
									td
										| Alt + 1
									td.indicate
								tr
									td
										| Alt + 2
									td.indicate
								tr
									td
										| Alt + 3
									td.indicate
								tr
									td
										| Alt + 4
									td.indicate
								tr
									td
										| Alt + 5
									td.indicate
								tr
									td
										| Alt + 6
									td.indicate
								tr
									td
										| Alt + 7
									td.indicate
								tr
									td
										| Alt + 8
									td.indicate
								tr
									td
										| Alt + 9
									td.indicate
						td#trans_td
							table#trans_table
								tr
									td
										| 翻译:
									td#trans
								tr
									td
										| 词典:
									td
										textarea#dictionary(readonly="readonly")
			div
				div#editor