doctype html
html(lang="en")
	head
		title #{title}
	body
		div#c1.container.main_container
			div.navigator.navigator_none_left
			div.content
			div.navigator.navigator_right
		div#c2.container.right_container
			div.navigator.navigator_left
			div.content
			div.navigator.navigator_right
		div#c3.container.hidden_container
			div.navigator.navigator_left
			div.content
			div.navigator.navigator_right
		div#c4.container.hidden_container
			div.navigator.navigator_left
			div.content
			div.navigator.navigator_right