doctype html
html(lang="en")
	head
		title #{title}
		script(src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js")
		script(src="/js/assistant/pluralize.js")
		script(src="/js/assistant/privateDict.js")
	body
		div#upload_private
			p 录入自定义词典：
			table
				tr
					td
						| 录入模式
					td
						select.input#Pattern
							option(value="N", selected="selected") 普通模式
							option(value="P") 替换模式
				tr
					td
						| 源名称
					td
						input.input#OriginalName
					td#indicateON
				tr
					td
						| 中文名
					td
						input.input#ChineseName
					td#indicateCN
				tr
					td
						| 类别
					td
						select.input#Type
							option(value="N", selected="selected") 无
							option(value="H") 英雄
							option(value="A") 技能
							option(value="I") 物品
				tr
					td
						| 父级
					td
						input.input#Father
				tr
					td
						button#submit 提交
//-		
	div#show
			p 支持项预览：
			table
				tr
					td.show_td
				tr
					td.show_td
				tr
					td.show_td
				tr
					td.show_td
				tr
					td.show_td
				tr
					td.show_td
				tr
					td.show_td