doctype html
html(lang="en")
	head
		title #{title}
		script(src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js")
		script(src="/js/assistant.js")
		link(rel="stylesheet" href="/css/assistant.css")
	body
		div
			div(style="float:left")
				textarea(id="input")
			div(style="float:left")
				table(id="pred" border="1")
					tr
						td
					tr
						td
					tr
						td
					tr
						td
					tr
						td
					tr
						td
					tr
						td
					tr
						td
					tr
						td
		